<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body style="background-image: url(../Static/images/2.jpg);">
        <h1 style="color: white;">About</h1>
        <hr>
        <p style="font-size: xx-large;color:palegreen">
            A resume profile is a short summary of your work experience, skills, achievements, and goals. It’s a professional introduction to your resume and it shows off your best qualities and how they relate to a specific job opening. A resume profile is essentially a short cover letter.<br><br>

        </p>
    </body>
</html>