<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <style>
            form{
			margin-top: 1%;
			margin-left: 40%;
			padding: 50px;
            background-color: transparent;
			height: 200px;
			width: 250px;
			box-shadow: 100%;
            }
        </style>
    </head>
    <body style="background-image: url(../Static/images/2.jpg);background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">
        <div class="container">
            <h1>Contact Us</h1>
              <hr>   
            <form action="login.html">
              
              <label style="color:black;">First Name:</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name.."><br><br>
          
              <label style="color:black;">Email id:</label>
              <input type="text" placeholder="Your Email id.."><br><br>
        
          
              <center><textarea id="subject" name="subject" placeholder="Write your Queries..." style="width: 300px; height: 100px;" ></textarea><br><br></center>
          
              <center><input type="submit" value="Submit"></center>
          
            </form>
          </div>
    </body>
</html>