<!DOCTYPE html>
<html>

<head>
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="../Static/Css/style.css">
</head>

<body style="background-image: url(../Static/images/1.jpg);background-size: cover;background-attachment: fixed;background-repeat: no-repeat;">
    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;">View MY PROFILE</h1>
    <hr>
    <p style="font-weight: bold;font-size: large;">
        Vignesh S<br>
        3-11-19, Mahatama nagar Gate-1, P.C.Patti<br>
        Theni<br>
        8903924331<br>
        vicky2000ssvv@gmail.com<br>
    </p>

    <hr>
    <p style="font-size: large;font-weight: bold;">CAREER OBJECTIVE</p>

    <p style="font-size: large;">To obtain a position that will enable me to use my strong organizational skills,
        award-winning educational
        background, and ability to work well with people.</p>
    <hr>
    <p style="font-size: large;font-weight: bold;">EDUCATION</p>

    <table style="color: black; width: 100%;">
        <tr>
            <th>Course</th>
            <th>Institute</th>
            <th>Year of Passing</th>
            <th>CGPA</th>
        </tr>
        <tr>
            <td>
                <center>Computer Science and Engineering</center>
            </td>
            <td>
                <center>Adhiyamaan College of Engineering</center>
            </td>
            <td>
                <center>2021</center>
            </td>
            <td>
                <center>7.8</center>
            </td>
        </tr>
        <tr>
            <td>
                <center>HSC</center>
            </td>
            <td>
                <center>V.V.N.K.M Senior Secondary School</center>
            </td>
            <td>
                <center>2017</center>
            </td>
            <td>
                <center>7.5</center>
            </td>
        </tr>
        <tr>
            <td>
                <center>SSLC</center>
            </td>
            <td>
                <center>V.V.N.K.M Senior Secondary School</center>
            </td>
            <td>
                <center>2015</center>
            </td>
            <td>
                <center>8.4</center>
            </td>
        </tr>
    </table>
    <hr>
    <p style="font-weight: bold;font-size: large;">TECHNICAL SKILLS</p>
    <hr>
    <p style="font-size: large;">1.C Programming<br>2.C++<br>3.Data Structure<br>4.Unity 2D</p>
    <hr>
    <p style="font-weight: bold;font-size: large;">WORKSHOP</p>
    <hr>
    <p style="font-size: large;">Participated in "3D GAME DESIGN AND AUGMENTED REALITY" conducted in Adhiyamaan college
        of engineering by Robosol</p>
    <hr>
    <p style="font-size: large;font-weight: bold;">INTERESTS</p>
    <hr>
    <p style="font-size: large;">Programming</p>
    <hr>
    <p style="font-weight: bold;font-size: large;">PERSONAL PROFILE</p>
    <hr>
    <p style="font-size: large;">Date of Birth : 02/08/2000<br> Father's Name : M.Srinivas<br> Known language :
        Tamil,English<br> Mother's Name : S.Sundari<br> Address : 3-11-19, Mahatama nagar, K.m.c compound,P.C.Patti,
        Theni</p>
    <hr>
    <p style="font-size: large;font-weight: bold;">DECLARATION</p>
    <hr>
    <p style="font-size: large;">I hereby declare that the details furnished above are true to the best of my Knowledge.
    </p>

</body>

</html>