<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body style="background-image: url(../Static/images/2.jpg);">
            <h1 style="color:blanchedalmond;">Home Page</h1>
            <hr>
            <form>
            <p style="color: palegreen; font-family: Georgia, 'Times New Roman', Times, serif;font-size: large;">A resume profile is a short summary of your work experience, skills, achievements, and goals. It’s a professional introduction to your resume and it shows off your best qualities and how they relate to a specific job opening. A resume profile is essentially a short cover letter.<br><br>

 

                How to create it though?<br><br><br>
                
                 
                
                This article will show you:<br><br>
                
                1]Different types of the resume profile section and which one to choose to present your best-selling points.
                Step-by-step formula for writing a resume profile statement that will wow every recruiter.<br><br>
                2]Resume profile samples for 10+ professions—pick the one you like best, tweak it, and use on your resume.</p>
                </form>
    </body>
</html>