.name a{
    background-color:darkolivegreen;
    color: white;
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
}

.name p{
        color: red;
        font-size: xx-large;
        text-align: center;

}
   
.name a{
    font-size: 25px;
    color:white;
    background-color: black;
    border: 2px solid white ;
}

table,td,th{
    border:1px solid blue;
    padding: 15px;
    border-spacing: 1px;
}


